@font-face {
  font-family: 'AvenirRegular';
  src:  url('fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'AvenirLightCnd';
  src:  url('fonts/AvenirNextLTPro-UltLtCn.woff') format('woff');
}
@font-face {
  font-family: 'AvenirMedCondensed';
  src:  url('fonts/AvenirNextLTPro-MediumCn.woff') format('woff');
}
@font-face {
  font-family: 'AvenirDemi';
  src:  url('fonts/AvenirNextLTPro-Demi.woff') format('woff');
}
@font-face {
  font-family: 'AvenirBold';
  src:  url('fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

body{
	background-color: #000;
	/*color:#000;*/
color:#fff;
	margin: 0;
	font-family: 'AvenirRegular', sans-serif;
	font-weight: 300;
}
a{
	color:#fff;
	text-decoration: none;
}
img{
	width:100%;
	height: auto;
	display: block;
}
ul{
	list-style: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	max-width: 1000px;
}
#nav{
	width:100%;
	background: #000;
	z-index: 1;
	position: fixed;
	top: 0;
}
#profiles #nav{
	position: relative;
}
@media screen and (min-width: 1025px) {
	#nav{
		background: rgba(0,0,0,0.5);
		position: fixed;
	}
	#profiles #nav{
		background: #3c3e42;
	}
}
#nav > div{
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	height: auto;
	max-height: none;  
	overflow: hidden;
}
#nav ul{
	float: right;
}
#logo{
	display: block;
	width: 85%;
	float: left;
	height: 50px;
	position: relative;
}
#logo > a{
	height: 50px;
	display: block;
	line-height: 50px;
	float: left;
	position: relative;
	font-size: 20px;
	font-family: 'AvenirRegular', sans-serif;
}
#logo_blacks{
	width: 27%;
	max-width: 110px;
}
#logo_ol{
	width: 50%;
	max-width: 221px;
}
#logo_blacks img,
#logo_ol img{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
@media (min-width: 1025px){
	#logo{
		width: 45%;
	}
	#logo_blacks{
		width: 21.9%;
	}
	#logo_blacks{
		width: 32.3%;
	}
}
#nav ul li{
	width:100%;
	background-color: #4d4f53;
}
#nav ul li.featured{

}
#nav ul li a{
	font-size: 20px;
	font-weight: 300;
	display: block;
	text-align: center;
	padding: 10px 20px;
}
#nav ul li a:hover{
	background: #f68428;
}
@media (min-width: 1025px){
	#nav ul{
		max-width: 1000px;
		margin:0 auto;
	}
	#nav ul li{
		float:left;
		width:auto;
		background-color: transparent;
	}
	#nav ul li, #nav ul li a{
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
	}
	#nav ul li a{
		padding: 15px 27px;
	}
	#nav ul li a:hover{

	}
	#nav ul li span{
		font-weight: 400;
		margin-right: 60px;
	}
}
#logo img{

}
#logo span{
	margin-right: 80px;
}
#post-title{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}
@media screen and (min-width: 1025px) {
	#post-title{
		margin-top: -40px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}
#post-title p{
	text-align: center;
	font-size: 5vw;
	line-height: 0;
	text-transform: uppercase;
	font-family: 'AvenirMedCondensed', sans-serif;
	margin-bottom: 5%;
}
@media screen and (min-width: 1025px) {
	#post-title p{
		font-size: 30px;
		margin-bottom: 8%;
	}
}
#top{
	position: relative;
}
@media screen and (min-width: 1025px) {
	#top{
		margin-top: 0;
	}
	#profiles #post-title{
		margin-top: -80px;
	}
}
#post-title h1{
	font-size: 6.5vw;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
#profiles #post-title h1{
	font-weight: 300;
	text-transform: none;
}
#profiles #post-title > div span{
	font-style: italic;
	display: inline-block;
	margin-right: 10px;
	line-height: 30px;
}
#profiles #post-title > div img{
	max-width: 114px;
	display: inline-block;
	vertical-align: middle;
}
#profiles #post-title > div a{
	margin-top: 8%;
}
#post-title a{
	width: 5.7%;
	display: block;
	margin:0 auto;
}
#post-title a img{
	  width: 100%;
}
@media screen and (min-width: 1025px) {
	#post-title h1{
		font-size: 40px;
	}
	#profiles #post-title h1{
		font-size:50px;
	}
	#post-title a{
		width:50px;
	}
}
#content{
	width:100%;
	margin:0 auto;
}
#single #content{
	margin:50px auto 0;
}
@media screen and (min-width: 1025px) {
	#single #content{
		margin:0 auto;
	}
}
#content > div > ul{
	width: 96%;
	margin:0 auto; 
	overflow: hidden;
	padding: 4% 0;
}
#content > div > ul > li{
	float: left;
	width:100%;
}
#content > #thumbs > ul > li{
	width:100%;
	max-width: 1000px;
}
@media screen and (min-width: 650px) {
	#content > div > ul{
		width: 90%;
	}
	#content > #thumbs > ul > li{
		width:33.33%;
	}
}
#content ul li ul li{
	width: 46%;
	float: left;
	padding: 0.5% 2%;
}
#thumbs > ul > li > ul > li{

}
#content ul.stack > li{
	width:96%;
}
@media screen and (min-width: 650px) {
	#thumbs > ul > li > ul > li{
		width: 96%;
		float: left;
		padding: 0.5% 2%;
	}
	#content ul.stack > li{
		width: 46%;
	}
}
#thumbs{
	/*background-image:url('/templates/blacks.co.uk/features/lifeoutdoors/main/grad-bg.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#styles{
	background-image:url('/templates/blacks.co.uk/features/lifeoutdoors/main/street-style-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#social{
	width: 100%;
	background-image:url('/templates/blacks.co.uk/features/lifeoutdoors/main/grad-bg2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#win{
	background-image: url('/templates/blacks.co.uk/features/lifeoutdoors/main/win-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}
#thumbs ul li img{
	width:100%;
}

.view-more{
	width: 100%;
	display: block;
	max-width: 1000px;
	margin: 0 auto 20px;
	text-align: center;
	background-color: #7f8082;
	font-size: 20px;
	line-height: 20px;
	padding: 20px 0;
}
.view-more:hover{
	background-color: #f68428;
}
@media screen and (min-width: 650px) {
	.view-more{
		font-size: 24px;
		line-height: 24px;
	}
}
#profiles-title, #styles-title{
	position: relative;
	width: 96%;
	max-width: 1000px;
	padding: 2% 0;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
@media screen and (min-width: 1025px) {
	#profiles-title, #styles-title{
		display: block;
	}
}
#profiles-title > img{
	max-width: 300px;
	float: left;
}
#styles-title > img{
	max-width: 350px;
	float: left;
}
#profiles-title > a{
	float: right;
	line-height: 30px;
}
#profiles-title > a > img{
	display: inline;
	vertical-align: middle;
	margin-top: -4px;
}
#content #thumbs > ul {
	margin:0 auto;
	padding:4% 0;
	width: 96%;
}
@media screen and (min-width: 1025px) {
	#content #thumbs > ul {
		padding: 0;
	}
}
.plus{
	max-width: 30px;
	display: inline;
	vertical-align: bottom;
	margin-right: 5px;
	width:6%;
}
ul#instafeed{
	margin: 10px auto;
}
ul#instafeed li{
	width: 31.333%;
	padding: .8% 1%;
	float: left;
}
ul#instafeed li a{
	display: block;
	width: 100%;
}
ul#instafeed li a img{
	width: 100%;
}
#social > div, #win > div, #partners > div{
	margin:0 auto;
	width: 100%;
	max-width: 1000px;
	padding: 30px 0;
}
img.follow{
	width: 80%;
	max-width: 456px;
	margin-left: 3%;
}
#social ul{
	text-align: center;
	margin: 40px 0 20px;
	padding: 0;
	width: 100%;
}
#social ul li{
	width: 49%;
	margin-bottom: 20px;
	display: inline-block;
}
@media screen and (min-width: 650px) {
	#social ul li{
		width: 24%;
	}
}
#social ul li img{
	display: inline;
	vertical-align: middle;
}
#win h1{
	font-family: 'AvenirDemi', sans-serif;
	text-transform: uppercase;
	font-size: 13vw;
	margin: 2% 0 0;
	line-height: 11vw;
}
#win h1 b{
	font-family: 'AvenirBold', sans-serif;
}
#win p{
	font-size: 5vw;
	margin: 5% 5%;
}
#win p span{
	font-size: 4vw;
	margin: 7% 0;
	display: block;
}
#win p.terms{
	font-size: 3.5vw;
}
#win p.terms a{
	color: #ff690a;
}
#win ul{
	width: 80%;
	padding: 0 0 5%;
	text-align: center;
	overflow: visible;
}
#win ul li{
	width: 32%;
	display: inline-block;
}
@media screen and (min-width: 650px) {
	#win h1{
		font-size: 65px;
		line-height: 70px;
	}
	#win p{
		font-size:22px;
		margin: 2% 0 6%;
	}
	#win p span{
		font-size:16px;
		margin: 2% 0;
	}
	#win p.terms{
		font-size:12px;
		margin: 2% 0;
	}
}
@media screen and (min-width: 650px) {
	#win ul{
		width: 40%;
	}
}
#win ul li a{
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	display:block;
	-ms-transform: scale(.8); /* IE 9 */
    -webkit-transform: scale(.8); /* Safari */
    transform: scale(.8);
}
#win ul li a:hover{
	-ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}
#partners ul{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	box-sizing: border-box;
	margin: 4% 0;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
#partners ul li{
	width: 50%;
	height: 76px;
	margin: 2% 0;
	display:inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	/* -webkit-align-items: center; */
	-webkit-box-align: center;
}
#partners ul li a img{
	max-width: 100%;
	opacity: 0.4;
}
@media screen and (min-width: 450px) {
	#partners ul li{
		width: 19%;
	}
	#partners ul li a img{
		max-width: 60%;
	}
}
@media screen and (min-width: 768px) {
	#partners ul li a img{
		max-width: 90%;
	}
}
@media screen and (min-width: 900px) {
	#partners ul li a img{
		max-width: 100%;
	}
}
#partners ul li a{
	display: block;
	margin: 0 auto;
}
#partners ul li a:hover img{
	opacity: 1;
}
#partners > div > img{
	max-width: 190px;
	width:40%;
	margin-left: 3%;
}
#partners > div > a > img{
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
#partners > div > a{
	color: #ff690a;
	float: right;
	margin: 0 8% 5% 0;
}
.vid-container{
	width: 90%;
	padding: 0 5%;
}
#video{
	margin: 0 auto;
	clear: both;
	display: block;
	max-width: 700px;
}
span.title{
	font-size: 7vw;
	font-weight: 700;
	font-family: 'AvenirBold', sans-serif;
	text-align: center;
	display: block;
	margin: 4% auto 0%;
}
#kit span.title,
#footer span.title{
	margin:0;
}
span.title.middle{
	text-align: center;
}
#thumbs p{
	text-align: center;
	font-size: 14px;
	line-height: 8px;
	text-transform: uppercase;
	font-family: 'AvenirMedCondensed', sans-serif;
}
#thumbs span.title {
	text-align: center;
	font-size: 14px;
}
@media screen and (min-width: 1025px) {
	#thumbs p{
		font-size: 24px;
		line-height: 10px;
	}
	#thumbs span.title {
		font-size: 24px;
	}
}
ul li p{
	font-size: 3.5vw;
	line-height: 5.5vw;
	font-weight: 300;
}
p.quote{
	font-size: 5.8vw;
	line-height: 8vw;
	font-weight: 300;
	width: 90%;
	margin: 2% auto;
	text-align: center;
}
@media screen and (min-width: 640px) {
	p.quote{
		margin: 0% auto 4%;
	}
}
#content > div > div> p.quote.overlay{
	width: 80%;
	margin: 10% auto;
	position: absolute;
	top: 5%;
	left: 50%;
	
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
@media screen and (min-width: 640px) {
	#content > div > div> p.quote.overlay{
		width: 60%;
	}
}
ul li img{
    width: auto;
    margin: 0 auto;
}
@media screen and (min-width: 640px) {
	span.title{
		font-size: 24px;
		font-weight: 700;
		text-align: left;
	}
	ul li p{
		font-size:16px;
		line-height: 26px;
		font-weight: 300;
	}
	p.quote{
		font-size:40px;
		line-height: 50px;
		font-weight: 300;
	}
}
@media screen and (min-width: 900px) {
	span.title{
		font-size: 32px;
		font-weight: 700;
	
		margin: 0% auto 4%;
}
	ul li p{
		font-size:16px;
		line-height: 26px;
		font-weight: 300;
	}
	p.quote{
		font-size:40px;
		line-height: 50px;
		font-weight: 300;
	}
}
#footer{
	background: #3c3e42;
	border-top: 4px solid #ff690a;
}
#footer.inc-related{
	padding: 20px 0 0;
}
#footer ul{
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	align-items: center;
}
#footer p{
	text-align: left;
	color: #fff;
}
#footer ul > li > ul{
	margin-bottom: 6%;
}
#footer ul > li > ul > li > p:first-of-type{
	margin-top: 0;
}
#footer img{
	max-width: 207px;
	width: 100%;
}
#footer a.link img{
	width:auto;
}
#footer .view-more{
	max-width: 160px;
	margin: 0 auto 20px;
}
@media screen and (min-width: 1025px) {
	#footer ul{
		flex-direction: row;
	}
	#footer .view-more{
		margin: 0;
	}
	#footer p{
		text-align: left;
	}
}
#get-involved{
	background-color: #f68428;
	padding: 40px 0 30px;
}
.inc-related #get-involved{
	margin-top: 30px;
}
#footer #get-involved ul{
	border-bottom:2px solid #fff;
	text-align: center;
	display: block;
	width: 360px;
	padding-bottom: 25px;
	margin-bottom: 30px;
}
#footer #get-involved ul > li{
	width: auto;
	float: none;
	display: inline-block;
	margin: 0 20px;
}
#get-involved img{
	max-width: 59px;
}
#footer #get-involved p{
	text-align: center;
}
#kit > ul{
	text-align: center;
	margin: 30px auto 0;
}
#kit > ul > li{
	width: 92%;
	margin-bottom: 20px;
	padding: 0 4%;
}
#footer ul > li{
	width: 100%;
	margin: 0;
}
#footer ul > li > ul > li{
	width: 42%;
	padding: 0.5% 6% 0.5% 2%;
	text-align: center;
}
#footer ul > li > ul > li:first-child{
	padding: 2.5% 0;
	margin: 0;
}
#kit ul > li > ul > li{
	width: 96%;
	text-align: center;
}
@media screen and (min-width: 640px) {
	#kit > ul{
		margin-top: 0;
	}
	#kit ul > li{
		width: 45%;
		max-width: 440px;
		padding: 2%;
		display: inline-block;
		vertical-align: middle;
	}
	#footer ul > li{
		width: 80%;
		padding: 0 2.5%;
		float: left;
	}
	#kit ul > li > ul > li{
		width: 100%;
		text-align: left;
		margin: 5px 0;
	}
}
@media screen and (min-width: 1025px) {
	#footer ul > li > ul > li{
		width: 46%;
		text-align: left;
	}
}
.profile{
	width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    display: inline-block;
	border: 3px solid #3c3e42;
}
.kit-quote{
	color:#3c3e42;
	font-style: italic;
}
.kit-quote a{
	color:#3c3e42;
	font-weight: bold;
}
a.link{
	display: inline-block;
	background-color: #f68428;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 4%;
	width: 96%;
	max-width: 300px;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	a.link{
		display: block;
		font-size: 16px;
		width: 90%;
	}
}
@media screen and (min-width: 800px) {
	a.link{
		font-size: 18px;
	}
}
a.link:hover{
	background-color:#E06C0E;
}
a.link img{
	width:100%;
	max-width: 20px;
	height:auto;
	display: inline-block;
	vertical-align: top;
}
button:hover{
	cursor: pointer;
}
video{
	display: block;
}
video#bgvid { 
    background: url(/templates/blacks.co.uk/features/lifeoutdoors/video/teaser.jpg) no-repeat;
    background-size: cover;
}
.videoContainer {
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    top: 0;
}
.videoContainer video{
    width: 100%;
	height: auto;
}

video#bgvid{
    transition: 1s opacity;
}
.stopfade{
	opacity: .5;
}
#vidpause, #vidmute{
	position: absolute;
	bottom: 42px;
	right: 50px;
	background-color: transparent;
	border: 0;
	color: #fff;
}
#vidmute{
	right: 110px;
}
#eq{
	position: absolute;
	bottom: 22px;
	left:50px;
}
#eq img{
	width:auto;
}
@media screen and (max-device-width: 760px){
    #top {
        background: url(/templates/blacks.co.uk/features/lifeoutdoors/video/teaser.jpg) #000 no-repeat center center;
		background-size: cover;
    }
    #bgvid,#vidpause,#vidmute,#eq{
        display: none;
    }
}

/* Lazy load styling */
.b-lazy {
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
}
.b-lazy.b-loaded {
	opacity: 1;
}

/* Mobile menu styling */
.c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 48px;
	height: 48px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	float: right;
}
.c-hamburger:focus {
	outline: none;
}
.c-hamburger span {
	display: block;
	position: absolute;
	top: 23px;
	left: 10px;
	right: 10px;
	height: 4px;
	background: white;
}
.c-hamburger span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	content: "";
	top: -10px;
}
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	content: "";
}
.c-hamburger span::after {
	bottom: -10px;
}
.c-hamburger--htx {
	background-color: #000000;
}
@media screen and (min-width: 1025px) {
	.c-hamburger--htx {
		display: none;
	}
}
.c-hamburger--htx span {
	transition: background 0s 0.3s;
	-moz-transition: background 0s 0.3s;
	-ms-transition: background 0s 0.3s;
	-o-transition: background 0s 0.3s;
	-webkit-transition: background 0s 0.3s;
}
.c-hamburger--htx span::before {
	transition-duration: 0.3s, 0.3s;
	-moz-transition-duration: 0.3s, 0.3s;
	-ms-transition-duration: 0.3s, 0.3s;
	-o-transition-duration: 0.3s, 0.3s;
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
	transition-property: top, transform;
	-moz-transition-property: top, transform;
	-ms-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, -webkit-transform;
}
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	-moz-transition-duration: 0.3s, 0.3s;
	-ms-transition-duration: 0.3s, 0.3s;
	-o-transition-duration: 0.3s, 0.3s;
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::after {
	transition-property: bottom, transform;
	-moz-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, -webkit-transform;
}
.c-hamburger--htx.is-active {
	background-color: #cb0032;
}
.c-hamburger--htx.active span {
	background: none;
}
.c-hamburger--htx.active span::before {
	top: 0;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition-delay: 0s, 0.3s;
}
.c-hamburger--htx.active span::after {
	bottom: 0;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.c-hamburger--htx.active span::after {
	transition-delay: 0s, 0.3s;
}

/* Youtube player styling */
.youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/* Isotope */
#profiles-grid, #style-grid{
	width: 96%;
	max-width: 1000px;
	padding: 2% 0 1%;
	margin: 0 auto;
	overflow: hidden;
}
.grid-item{ width: 48%; padding: 0 1%; }
#style-grid .grid-item{ margin-bottom: 2%; }
@media screen and (min-width: 650px) {
	.grid-item{ width: 31.333%; padding: 0 1%; }
}

/* Again, youâ€™re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 48%; padding: 0 1%; }
.size-1of3 { width: 31.333%; padding: 0 1%; }

/* Clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

	